@font-face {
    font-family: 'Lobster Two';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lobstertwo/v20/BngMUXZGTXPUvIoyV6yN5-fN5qU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    font-family: "Lobster Two", sans-serif;
    color: #c0c0c0;
    background-image: url(freenaturestock-1408-1024x683.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%, 100%;

}
blockquote {
    text-align: center;
    background-color: #292944;
    font-size: 45px;
}

.sitename {
    margin: auto;
    width: 50%;
    border: 2px solid #c0c0c0;
    padding: 10px;
    text-align: center;

}

.cvheader, h1 {
    margin: auto;
    width: 50%;
    border: 2px solid #c0c0c0;
    padding: 10px;
    text-align: center;
    font-size: 25px;

}

h2, h3 {
    text-align: center;
    text-decoration: underline;
    font-weight: 400;
}

main {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: left;
    font-size: 20px;

}


a:hover {
    background-color: #292944;

}

a,a:link, a:visited {

    color: #c0c0c0;
    text-decoration: none;

}


.topsitenav li {
    font-size: 26px;
    display: inline-block;
    width: 100px;
    padding: 10px;
    text-align: center;
    color: #c0c0c0;


}

.topsitenav ul {

    margin: auto;
    width: 50%;
    border: 2px solid #c0c0c0;
    padding: 10px;
    text-align: center;
    color: #c0c0c0;


}

.bottomsitenav li {
    font-size: 18px;
    display: inline-block;
    width: 100px;
    padding: 10px;
    text-align: center;
    color: #c0c0c0;

}

.bottomsitenav ul {

    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    color: #c0c0c0;
}


.contact {
    margin: auto;
    width: 50%;
    border: 2px solid #c0c0c0;
    padding: 10px;
    text-align: center;
}

.section-header {
    font-size: 23px;
    text-align: center;
    text-decoration: underline;
    font-weight: 400;
}
fieldset,label,input{
    margin: auto;
    width: 50%;
    border: 2px solid #c0c0c0;
    padding: 10px;
    text-align: center;

}
.contactList,label{
    border: none;
    text-decoration: none;


}
fieldset{
    border-style: dashed;

}
label,textarea,input{
    display: inline-block;
}

.profielfoto{
clear: both;
}
.socialmedia{
        display: inline-block;
        text-decoration: none;
        color: #333;

}
footer {
    text-align: center;
    padding: 20px;
}

