@font-face {
    font-family: 'Lobster Two';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lobstertwo/v20/BngMUXZGTXPUvIoyV6yN5-fN5qU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html {
    font-family: "Lobster Two", sans-serif;

    color: #c0c0c0;
    background-image: url(backgroundmobile.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;

}


body, form {
    margin: 0;
}

fieldset {
    padding: 0;
}

.borders {
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    margin-bottom: 3px;
    padding-left: 1%;
}

.noBorders {
    border-style: none;
!important;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style-position: inside;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 8vw 3px 8vw;
}

.flex-containercv {
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
    margin: 0 8vw 3px 8vw;
}


.flex-container > * {
    flex-basis: 100vw;
}

.wide > * {
    flex-basis: 100vw;
    padding-left: 1%;
}

.flex-container-cv-head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2.5em;
    margin: 0 8vw 3px 8vw;

}

.flex-container-cv-head > *:not(.flex-container-cv-head>img) {
    flex-basis: 100vw;
}

.flex-container-cv-head p {
    font-size: 0.6em;
}

nav {
    font-size: 2rem;
    margin-bottom: 8%;
    flex-basis: 100vw;
}

div {
    margin-bottom: 5px;
}

nav > a > div, nav > div {
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
}

nav > a > div:hover, .hoverdiv > div:hover {
    background-color: rgba(41, 41, 68, 0.69)
}

a, a:link, a:visited {

    color: #c0c0c0;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 2.8rem;
}
h3{
   font-size: 1.8rem;
}


main > * {
    font-size: 1.5rem;
}

blockquote {
    background-color: rgba(107, 105, 105, 0.4);
    text-align: center;
}

main > div {
    border-color: #ffffff;
    border-style: solid;
    border-radius: 25px;

}

main > div > * {
    padding-left: 2%;
}

.centertext {
    text-align: center;
}

.mediumtext {
    font-size: 2rem;
}

.smalltext {
    font-size: 1.5rem;
}

input, textarea, select, #Type-vraag {
    height: 2rem;
    width: 60%;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

textarea {
    width: 59%;

}

nav:last-child {
    margin-bottom: 3%;
}
.bg{
    background-color: rgba(107, 105, 105, 0.4);
}

@media screen and (min-width: 768px) {

    h1 {
        font-size: 2.5rem;
    }

    .flex-container {
        flex-wrap: nowrap;

    }

    .flex-containercv, .flex-containercv > * {
        font-size: 30px;
        margin: 0 15vw 3px 15vw;

    }


    .flex-container > * {
        justify-content: center;
        align-content: center;

    }

    nav, nav > * {
        justify-content: space-evenly !important;
        flex: 1;
    }
    input, textarea, select, #Type-vraag {
        height: 2em;
        width: 30%;
        font-size: 0.5em;
        margin-bottom: 20px;
    }

    textarea {
        width: 59%;

    }
    .mediumtext{
        font-size: 1.5rem;
    }
    .responsiveMargin{
        margin-right: 5px;
    }

}

